@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Signika:wght@300;400;500;600;700&display=swap');


//normalize css
*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

$black-color:#000000;
$grey-color:#333333;
$white-color:#ffffff;
$dark-color:#1f1f1f