html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:$grey-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}

h1,h2{
    font-size: 96px;
    line-height: 96px;
}
h3{
    font-size: 64px;
}
h5{
    font-size: 16px;
}
a{
    color: $grey-color;
    font-family: 'Roboto', sans-serif;
}

.btn-primary{
    text-transform: uppercase;
    display: inline-block;
    padding: 25px 40px;
    border: 2px solid rgba(0,0,0,0.07);
    position: relative;
    z-index: 2;
    transition: all 1s ease;

    &:before{
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        top:0;
        left: 0;
        background-color: $black-color;
        z-index: -1;
        transition: all 1s ease;
    }

    &:hover{
       color: $white-color;

       &:before{
        width: 100%;
       }
    }
}

.star{
    position: absolute;
    
    top:50px;
    right: 300px;
    z-index: -1;
    img{
        width: 200px;
        height: 200px;
        animation: star 3s linear infinite;
    }
}

section, footer{
    position: relative;
}